* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.about-wrapper {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url(../images/web-design.jpg) no-repeat center top;
  background-size: cover;
  color: white;
}

.about-wrapper header {
  position: fixed;
  width: 100%;
  background-color: rgba(48, 48, 48, 0.6);
}


header nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}


nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 3px;
}


header nav a.active {
  background: #fed136;
}

#about {
  display: inline-block;
  text-align: center;
  padding: 100px 0 150px;
}


#about h1{
  font-size: 55px;
  font-weight: normal;
  line-height: 1.2;
}


#about p {
  font-size: 24px;
}


#projects{
  display: flex;
  justify-content: space-between;
  padding: 100px 0 150px;
}


#projects .box {
  display: inline-block;
  text-align: center;
  width: 45%;
  margin: 1%;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}


#projects a {
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}


#contact{
  display: inline-block;
  text-align: center;
  width: 100%;
  background: url(../images/coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 150px;
}


#contact  p {
  font-size: 50px;
  font-weight: bold;
  color: 	#D8BFD8;
}

#contact a {
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: black;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}


@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
